bs4~=0.0.2
beautifulsoup4~=4.12.3
langchain~=0.3.15
langchain-community~=0.3.14
langchain-text-splitters~=0.3.4
langchain-core~=0.3.34
chromadb~=0.6.1
openai~=1.59.9
langgraph~=0.2.60
fastapi~=0.115.6
langserve~=0.3.1
gradio~=4.44.1
python-dotenv~=1.0.1
transformers~=4.47.1
pydantic~=2.10.4
pandas~=2.2.3
requests~=2.32.3
pymysql~=1.1.1
uvicorn~=0.34.0
langchain-openai~=0.3.5
streamlit~=1.42.2
firecrawl-py~=1.13.5
numpy~=1.26.4 
gensim~=4.3.3 
python-docx~=1.1.2 
faiss-cpu~=1.10.0